<ion-header>
  <ion-toolbar color="success">
    <ion-title>Network</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="register"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <h2>
        Network connection:
        <ion-icon size="large" name="wifi" color="primary"></ion-icon><br/>
        {{ networkStatus | json }}
      </h2>
    </ion-card-header>
    <ion-card-content class="ion-float-right">
      <ion-button size="small" (click)="getNetWorkStatus()">
       Get network status
      </ion-button>
      <ion-button size="small" color="warning" (click)="endNetworkListener()">
          End network listener
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
